body {
	background: #000;
}

/****** HEADER *******/

.mobilenav {
	background: #000;
}




/****** ABOUT SECTION *******/

.about-content h1, .contact-content h1 {
	color: #b02e35;
}


.about-content p, .video-section h1 {
	color: #f0f0f0;
}

.section-title {
	color: #fff;
	font-weight: bold;
}

.video-controls h2 {
	color: #b02e35;
}

.section-title:before {
	background-color: #f0f0f0;
}

.bckg, .bckgr {
	background-color: #b02e35;
}

/***** SERVICE SECTION ******/

.normal-section-subtitle, .service-box h4, .skew-box i {
	color: #b02e35;
}

.skew-box {
	border-right: 3px solid #f0f0f0;
}

.service-box p {
	color: #f0f0f0;
}

/***** ADVENTAGES SECTION *****/
.adventages-content h1, .reason-box h4 {
	color: #f0f0f0;
}

.number-box {
	background: #f0f0f0;
	color: #b02e35;
}

.reason-box p {
	font-weight: bold;
	color: #000;
}

/****** OUR TEAM SECTION ******/
.normal-section-title {
	color: #fff;
	font-weight: bold;
}

.normal-section-subtitle {
	color: #b02e35;
}

.team-member h4 {
	color: #b02e35;
}

.team-member p {
	color: #f0f0f0;
}


/****** TESTIMONIALS ******/

.text-from-client {
	color: #f0f0f0;
	border-left: 1px solid #f0f0f0;
}

.the-testimonial h4 {
	color: #f0f0f0;
}

.the-testimonial h4 small {
	color: #b02e35;
}


/******* PORTFOLIO SECTION ********/

.portfolio-filter li.active {
	background: #b02e35;
	border: 1px solid #b02e35;
}

.portfolio-filter li {
	border: 1px solid #b02e35;
	color: #f0f0f0;
}

.portfolio-filter li:hover {
	background: #b02e35;
	border: 1px solid #b02e35;
}

/******* CONTACT *******/
.contact-class label {
	color: #f0f0f0;
}

.normal-input {
	color: #f0f0f0;
}

.submit-button {
	background: #b02e35;
}

.submit-button:hover {
	background: #e19e20;
}


/**** COMING SOON ****/

#subscribe p {
	color: #f0f0f0;
}